
@{
    ViewData["Title"] = "Verify - Account";
}

<div class="row d-flex justify-content-center" >

    <div class="col-sm-12">
        <p class="alert">
            Thank you for registering on our site and we wish you a happy experience.
        </p> 
        <hr /> 
        <p class="alert">
            To complete the experience, please check your online account to complete the registration process.
        </p>
    </div>

    <div class="col-sm-12 text-center">
        <a href="https://www.bing.com/ck/a?!&&p=ce338dd6444ebba1JmltdHM9MTY5NDQ3NjgwMCZpZ3VpZD0wOTY1ZTRiYS0zOWI3LTY4M2UtMWYxNy1mN2UxMzhjYjY5MjgmaW5zaWQ9NTE5NQ&ptn=3&hsh=3&fclid=0965e4ba-39b7-683e-1f17-f7e138cb6928&psq=Gmail&u=a1aHR0cDovL21haWwuZ29vZ2xlLmNvbS9tYWlsP2hsPWFy&ntb=1"
           class="btn btn-success"
           target="_blank">
            Check your Email
        </a>
    </div>
</div>